<ion-content [fullscreen]="true">

    <div class="responsiveDiv">
      <div class="m-3">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/principal"></ion-back-button>
        </ion-buttons>
      </div>
      <div>
        <div class="centrar bajarUnPoco">
          <img src="https://picsum.photos/80/80?random=2" class="ima0_grande" alt="Imagen de perfil">
        </div>

        <p class="labelGrande centrarLabel">{{_nombre_s}}</p>
        <p class="labelChico centrarLabel">{{_tipo_s}}</p>
      </div>

      <ion-grid>
        <ion-row>

          <ion-col>
            <p class="labelMeiano centrarLabel">Seguidores</p>
            <p class="labelGrande centrarLabel">{{_seguidores_s}}</p>
          </ion-col>
          <ion-col>
            <p class="labelMeiano centrarLabel">Seguidos</p>
            <p class="labelGrande centrarLabel">{{_seguidos_s}}</p>
          </ion-col>

        </ion-row>
      </ion-grid>

      <div class="centrar">
        <ion-button class="btn_beige" (click)="toggleSeguir()" *ngIf="!_yoMismo_b">
          <ion-icon [name]="_siguiendoEstado_b ? 'person-remove' : 'person-add'"></ion-icon>
          {{ _siguiendoEstado_b ? 'Siguiendo' : 'Seguir' }}
        </ion-button>

        <ion-button class="btn_beige" *ngIf="_admin_b" (click)="ejeBan(1)">Banear</ion-button>
      </div>



      <app-componente-publicacion *ngFor="let publicacion of _publicaciones_list"
        urlImagen="{{publicacion.fotoPublicacion}}"
        texto="{{publicacion.texto}}"
        [likes]=[publicacion.numLikes]
        [comentarios]=[publicacion.numComentarios]
        [isFavorite]="publicacion.liked"

        enlace="/publicacion/{{publicacion.id}}"

        _admin_b="{{_admin_b}}"
        btnTexto="Banear Publicacion"
        [btnFuncion]="banearPublicacion"
        [datos]=[publicacion.id]
      ></app-componente-publicacion>


    </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
