<ion-content [fullscreen]="true">

    <div class="responsiveDiv">
      <div class="m-3">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/principal"></ion-back-button>
        </ion-buttons>
      </div>
      <div>
        <div class="centrar bajarUnPoco">
          <img src="{{_imagePerfil_s}}" class="ima0_grande" alt="Imagen de perfil">
        </div>

        <p class="labelGrande centrarLabel">{{_nombre_s}}</p>
        <p class="labelChico centrarLabel">{{_tipo_s}}</p>
      </div>

      <ion-grid>
        <ion-row>

          <ion-col>
            <p class="labelMeiano centrarLabel">Seguidores</p>
            <p class="labelGrande centrarLabel">{{_seguidores_s}}</p>
          </ion-col>
          <ion-col>
            <p class="labelMeiano centrarLabel">Seguidos</p>
            <p class="labelGrande centrarLabel">{{_seguidos_s}}</p>
          </ion-col>

        </ion-row>
      </ion-grid>

      <p *ngIf="_perfilFinal_Perfil.baneado" class="labelGrande centrarLabel">
        Este Usuario ha sido baneado
      </p>
      <div class="centrar">
        <ion-button *ngIf="!_yoMismo_b" class="btn_beige" (click)="toggleSeguir()">
          <!-- <ion-icon [name]="_siguiendoEstado_b ? 'person-remove' : 'person-add'"></ion-icon> -->
          <!-- Espacio generado por el icono -->
          {{ _siguiendoEstado_b ? 'Siguiendo' : 'Seguir' }}
        </ion-button>

        <ion-button *ngIf="_admin_b"
                    class="btn_beige"
                    (click)=delFun.banearPerfil([this._perfilFinal_Perfil.nombre])
        >
          {{ _perfilFinal_Perfil.baneado ? 'Desbanear' : 'Banear' }}
        </ion-button>
      </div>


      <app-componente-publicacion *ngFor="let publicacion of _publicaciones_list"
        [urlImagen]="publicacion.fotoPublicacion || 'assets/perro_placeholder.jpg'"
        texto="{{publicacion.texto}}"
        [likes]=[publicacion.numLikes]
        [comentarios]=[publicacion.numComentarios]
        [isFavorite]="publicacion.liked"
        [idPublicacion]=publicacion.id

        [yoMismo]=_yoMismo_b
        [enlace]="'/publicacion/' + publicacion.id"
        _admin_b="{{_admin_b}}"
      ></app-componente-publicacion>


    </div>

  <ion-fab *ngIf="_yoMismo_b" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openFabModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Recuerda que igualmenet necesitas la funcion "openFabModal" linea 118 en perfil -->
  <app-modal-publicacion [isFabModalOpen]="isFabModalOpen"></app-modal-publicacion>



</ion-content>
