<ion-content [fullscreen]="true">

    <div class="responsiveDiv">
      <div>
        <div class="centrar bajarUnPoco">
          <img src="https://picsum.photos/80/80?random=2" class="ima0_grande" alt="">
        </div>

        <p class="labelGrande">{{_nombre_s}}</p>
        <p class="labelChico">{{_tipo_s}}</p>
      </div>

      <ion-grid>
        <ion-row>

          <ion-col>
            <p class="labelMeiano">Seguidores</p>
            <p class="labelGrande">{{_seguidores_s}}</p>
          </ion-col>
          <ion-col>
            <p class="labelMeiano">Seguidos</p>
            <p class="labelGrande">{{_seguidos_s}}</p>
          </ion-col>

        </ion-row>
      </ion-grid>

      <div class="centrar">
        <ion-button class="btn_beige" *ngIf="!_yoMismo_b" (click)="seguir()">Seguir</ion-button>
        <ion-button class="btn_beige" *ngIf="_admin_b" (click)="ejeBan(1)">Banear</ion-button>
      </div>



      <app-componente-publicacion *ngFor="let publicacion of publicacionesEjemplo"
        urlImagen="{{publicacion.url}}"
        texto="{{publicacion.texto}}"
        likes="{{publicacion.likes}}"
        comentarios="{{publicacion.comentarios}}"
        _admin_b="{{_admin_b}}"
        btnTexto="Banear Publicacion"
        [btnFuncion]="banearPublicacion"
        [datos]=[publicacion.id]
      ></app-componente-publicacion>


    </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
