<ion-content color="fondo">
  <ion-card class="chat-container">
    <ion-list #chatList>
      <ion-item
        lines="none"
        *ngFor="let m of mensajes"
        class="item-native"
        [ngClass]="{
    'own-message': m.nombreEmisor === username,
    'other-message': m.nombreEmisor !== username
  }"
        style="background-color: #96305A;">
        <ion-avatar slot="start" *ngIf="m.nombreEmisor !== username">
          <ion-img src="{{sessionStorage.getItem('avatar')}}"></ion-img>
        </ion-avatar>

        <div class="message-wrapper">
          <ion-label class="message-bubble">
            {{ m.contenido }}
            <br />
            <ion-text class="message-time">{{ m.fecha?.substring(11, 16) }}</ion-text>
          </ion-label>
        </div>

        <ion-avatar slot="end" *ngIf="m.nombreEmisor === username">
          <ion-img src="{{sessionStorage.getItem('avatar')}}"></ion-img>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-footer class="chat-footer">
    <form [formGroup]="mensajeForm" id="formularioMensaje">
      <ion-item class="input-chat">
        <ion-input
          formControlName="texto"
          id="textoMensaje"
          name="texto"
          class="chat-input"
          placeholder="Escribe algo..."
          [value]="textoMensaje"
        ></ion-input>
        <ion-icon
          name="paper-plane-outline"
          aria-hidden="true"
          class="send-icon"
          (click)="enviarMensaje()"
        ></ion-icon>
      </ion-item>
    </form>
  </ion-footer>
</ion-content>
