.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.my-message {
  background: var(--ion-color-tertiary);
  color: #2C4251;
}

.other-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.time {
  color: #af8c8c;
  float: right;
  font-size: small;
}
b {
  font-size: 30px;
}

.message-input {
  margin-top: 0px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}
