<ion-content class="login-page">
  <div class="login-container">
    <img src="assets/logo_beige.png" alt="Logo" class="logo">
    <h1 class="titulo">Santuario</h1>


    <img src="src/app/icono_app.jpg" alt="Your Image" class="item-image">


    <ion-label>Raza</ion-label>
    <ion-item>
      <ion-select>
        <ion-select-option value="Blanco">Perro1</ion-select-option>
        <ion-select-option value="Negro">Perro2</ion-select-option>
        <ion-select-option value="Azul">Perro3</ion-select-option>
        <ion-select-option value="Rojo">Perro4</ion-select-option>
        <ion-select-option value="Verde">Perro5</ion-select-option>
        <ion-select-option value="2">Perro1</ion-select-option>
        <ion-select-option value="Neg3ro">Perro2</ion-select-option>
        <ion-select-option value="Azu3l">Perro3</ion-select-option>
        <ion-select-option value="Ro4jo">Perro4</ion-select-option>
        <ion-select-option value="Ve5rde">Perro5</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-label>Género</ion-label>
    <ion-list>
      <ion-radio-group class="radio-group-horizontal">
        <ion-item>
          <ion-label>♂</ion-label>
          <ion-radio slot="start" value="left"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>♀</ion-label>
          <ion-radio slot="start" value="right"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-label>Edad</ion-label>

    <ion-icon [routerLink]="'/registrocualidades'" style="color: #ffffff; width: 40px; height: 40px"
              name="arrow-forward-outline"></ion-icon>
  </div>
</ion-content>
