.centrar
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorTexto
{
  color: #f5f5dc;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.texto
{
  font-family: "Inter", sans-serif !important;
  font-weight: bold;
}

.fuenteNormal
{
  font-weight: normal !important
}
.negrita
{
  font-weight: bold !important;
}

.chico
{
  font-size: 0.5em;
  font-weight: normal !important;
}

.mediano
{
  font-size: 1em;
}

.grande
{
  font-size: 1.5em;
}
