<ion-content class="login-page">
  <div class="login-container">
    <img src="assets/logo_beige.png" alt="Logo" class="logo">
    <h1 class="titulo">Santuario</h1>

    <img src="../../assets/icono_app.jpg" alt="Your Image" class="item-image">
    <img src="../../assets/conversacion.png" alt="que_soy" style="height: 100px; width: 200px; margin-bottom: 30px;">

    <!-- Rango para Nivel de Energía -->
    <ion-item>
      <ion-label position="stacked">Nivel de energía: {{ registroService.registro.nivelEnergia }}</ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.nivelEnergia">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Rango para Sociabilidad -->
    <ion-item>
      <ion-label position="stacked">Sociabilidad: {{ registroService.registro.sociabilidad }}</ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.sociabilidad">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Rango para Tamaño -->
    <ion-item>
      <ion-label position="stacked">Tamaño: {{ registroService.registro.tamano }}</ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.tamano">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Rango para Tolerancia a Otras Especies -->
    <ion-item>
      <ion-label position="stacked">Tolerancia a otras especies: {{ registroService.registro.toleranciaEspecies }}
      </ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.toleranciaEspecies">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Rango para Nivel de Dominancia -->
    <ion-item>
      <ion-label position="stacked">Nivel de Dominancia: {{ registroService.registro.nivelDominancia }}</ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.nivelDominancia">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Rango para Tendencia de Juego -->
    <ion-item>
      <ion-label position="stacked">Tendencia de Juego: {{ registroService.registro.tendenciaJuego }}</ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.tendenciaJuego">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Rango para Temperamento -->
    <ion-item>
      <ion-label position="stacked">Temperamento: {{ registroService.registro.temperamento }}</ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.temperamento">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Rango para Experiencia -->
    <ion-item>
      <ion-label position="stacked">Experiencia: {{ registroService.registro.experiencia }}</ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.experiencia">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Rango para Territorialidad -->
    <ion-item>
      <ion-label position="stacked">Territorialidad: {{ registroService.registro.territorialidad }}</ion-label>
      <ion-range min="1" max="10" step="1" [(ngModel)]="registroService.registro.territorialidad">
        <ion-label slot="start">1</ion-label>
        <ion-label slot="end">10</ion-label>
      </ion-range>
    </ion-item>

    <!-- Botón de registro -->
    <ion-button id="open-modal"  expand="block" class="registro-button" expand="block" (click)="registroService.registrar()">Registrarse</ion-button>
    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (ionModalDidPresent)="enviarCorreo()">
      <ng-template>
        <div class="block">Comprueba tu correo electrónico y confirma</div>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>

