
.imagen
{
  border-radius: 50%;
  box-shadow: 0 6px 18px 0 rgba(0,0,0,0.8);
  border: 2px solid #f5f5dc;
  //background-size: contain !important; // Utilizar en caso de cambiar a div.
}


.grande
{
  width: 70vw;
  //height: 30vh;
}

.chica
{
  width: 20vw;
  //height: 20vh;
}
