<ion-content [fullscreen]="true" style="max-width: 400px; margin: 0 auto;">
  <div class="cuerpo">
    <img src="https://picsum.photos/80/80?random=2" class="ima0_chica" alt="">
    <p class="labelMeiano">{{m_nombre_s}}</p>
    <div>
      <p class="labelChico">{{m_texto_s}}</p>
    </div>


  </div>

  <app-componente-publicacion></app-componente-publicacion>
  <app-componente-publicacion></app-componente-publicacion>

</ion-content>



<!--
<ion-content>
  <app-componente-publicacion></app-componente-publicacion>
</ion-content>
-->
