<ion-content [fullscreen]="true" style="max-width: 400px; margin: 0 auto;">
  <div class="cuerpo">
    <img src="https://picsum.photos/80/80?random=2" class="ima0_chica" alt="">
    <p class="labelMeiano">{{m_nombre_s}}</p>
    <div>
      <p class="labelChico">{{m_texto_s}}</p>
    </div>


  </div>

  <app-componente-publicacion></app-componente-publicacion>
  <app-componente-publicacion></app-componente-publicacion>

</ion-content>



<!--
<ion-content>
  <ion-card class="custom-card">
    <ion-card-header>
      <div class="profile-container">
        <img src="https://picsum.photos/80/80?random=2" alt="Profile" class="profile-image">
        <div class="profile-info">
          <h5>loving_puppies</h5>
        </div>
      </div>
    </ion-card-header>
      <ion-card-content>
        <ion-row>
          <img src="https://picsum.photos/80/80?random=3" class="publication-image">
        </ion-row>
        <ion-row>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim rhoncus mi in vulputate. Sed suscipit,
            diam vel tincidunt consequat, tortor aliquet turpis, sed elementum nibh mauris sit amet elit.
          </p>
        </ion-row>
      </ion-card-content>
  </ion-card>
</ion-content>
-->
