<ion-header>
  <ion-toolbar>
    <div class="toolbar-container">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/perfil']">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>

      <div class="logo-container">
        <img src="assets/logo_beige.png" alt="Logo de la app"/>
      </div>

      <ion-buttons slot="end">
        <ion-button [routerLink]="['/chatspersonas']">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>

  <ion-searchbar
    class="custom-searchbar"
    placeholder="Busca algo..."
    [(ngModel)]="searchTerm"
    (keyup)="handleSearch($event)">
  </ion-searchbar>
</ion-header>

<ion-content (click)="closeSearchModal()">
  <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Recomendado">
      <ion-label>Recomendado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Siguiendo">
      <ion-label>Siguiendo</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Iterar sobre las publicaciones obtenidas desde el backend -->
  <div *ngIf="selectedSegment === 'Recomendado'">
    <app-componente-publicacion
      *ngFor="let publicacion of publicaciones"
      [nombre]="publicacion.perfil"
      [miUrl]="publicacion.fotoPerfil"
      [texto]="publicacion.texto"
      [url]="publicacion.fotoPublicacion"
      [likes]="publicacion.numLikes"
      [comentarios]="publicacion.numComentarios"
      [isFavorite]="publicacion.liked">
    </app-componente-publicacion>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal id="modalBusqueda" [isOpen]="isSearchModalOpen" (ionModalDidDismiss)="closeSearchModal()">
    <ng-template>
      <ion-content>
        <div class="modal-container" (click)="$event.stopPropagation()">
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <ion-img src="https://i.pravatar.cc/300?u=b"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2>pepe</h2>
                <p>{{ truncateText('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim rhoncus mi in vulputate. Sed suscipit, diam vel tincidunt consequat, tortor aliquet turpis, sed elementum nibh mauris sit amet elit.') }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal  id="modalPublicacion" #crearPublicacionModal trigger="open-modal" (click)="closeSearchModal()">
    <ng-template>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="modal.dismiss()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title style="color: #f1ead0">Nuevo Post</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="submitPost()" [strong]="true">Publicar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      <ion-content>
        <div class="modal-content" (click)="$event.stopPropagation()">
          <ion-label position="floating">¡Cuéntanos!</ion-label>
          <ion-item>
            <ion-textarea
              class="post-textarea"
              placeholder="¿Qué deseas compartir de los perretes...?"
              [(ngModel)]="newPostDescription">
            </ion-textarea>
          </ion-item>
          <ion-buttons slot="end" style="margin-left: auto; margin-right: 30px">
            <ion-button>
              <ion-icon style="color: #7C274B" slot="icon-only" name="image-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>


<!--------------------------------------------------------------------------------------------------------------------->
