<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="chatbubbles-outline" [routerLink]="'/chatspersonas'"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 10px;">
      <img src="assets/icon/icono_app.jpg"
           alt="Logo de la app"
           style="height: 50px; width: 50px; border-radius: 50%;margin-bottom: 10px;"/>
    </div>

    <ion-searchbar placeholder="Busca un post"></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <app-componente-publicacion></app-componente-publicacion>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button> <!-- pendiente -->
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
