
ion-toolbar {
  --background: #96305A;
}

ion-content {
  --ion-background-color: #f1ead0;
}


ion-button {
  margin-top: 20px;
  --color: #f1ead0;
}

ion-searchbar {
  --background: #f1ead0;
  --color: #96305A;
}

::ng-deep .custom-alert .alert-wrapper {
  --background: #7C274B; /* Fondo negro */
  border-radius: 12px; /* Opcional: redondear los bordes */
  padding: 16px; /* Opcional: ajustar padding */
}

::ng-deep .custom-alert .alert-button {
  --background: #7C274B; /* Button background color */
  font-weight: bold; /* Optional: bold text */
}

::ng-deep .custom-alert .alert-button-inner {
  color: #FFFFFF !important; /* Ensure inner text is white */
}

::ng-deep .custom-alert .alert-title {
  color: #FFFFFF !important; /* Ensure the header text is white */
}

