
ion-toolbar {
  --background: #96305A;
}

ion-content {
  --ion-background-color: #f1ead0;
}


ion-button {
  margin-top: 20px;
  --color: #f1ead0;
}

ion-searchbar {
  --background: #f1ead0;
  --color: #96305A;
}
