ion-toolbar {
    --background: #96305A;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-content {
    --ion-background-color: #f1ead0;
  }

  ion-button {
    --color: #f1ead0;
  }

  ion-searchbar {
    --background: #f1ead0;
    --border-radius: 20px;
    --box-shadow: none;
    --color: #2d3e50;
    width: 90%;
    margin: 10px auto;
  }

  .custom-searchbar {
    --placeholder-color: rgba(0, 0, 0, 0.5);
    --icon-color: #2d3e50;
    margin: auto;
  }

  ion-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #96305A;
    padding-bottom: 10px;
  }

  .toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }

  .logo-container img {
    height: 50px;
    width: 50px;
  }

  #modalBusqueda {
    border-radius: 10px;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 32%;
    transition: height 0.3s ease;
    overflow: hidden;
  }

  #modalPublicacion {
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 60%;
    transition: height 0.3s ease;
  }

  #modalBusqueda.closed, #modalPublicacion.closed {
    height: 0 !important;
  }

  #modalBusqueda ion-list {
    width: 100%;
  }

  ion-textarea {
    height: 200px;
    width: 300px;
  }

  .white-icon {
    color: #f1ead0;
  }

  .post-textarea {
    max-height: 200px;
    overflow-y: auto;
    resize: none;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal-content ion-label {
    color: #2d3e50;
    text-align: center;
  }

  ion-modal {
    --ion-background-color: #f1ead0;
  }

  .modalPublicacion ion-item {
    margin-top: 20px;
  }


