<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <ion-title>Chats</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modal.present()">
        <ion-icon slot="icon-only" src="assets/icon/plus.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="¡Busca a tus grupos y amigos!" (ionInput)="filterChats($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo">
  <ion-grid>
    <!-- Lista de Chats -->
    <ion-row *ngFor="let chat of filteredChats" class="ion-justify-content-center" style="margin-top: 15px;">
      <ion-col size="10">
        <ion-card color="secundario" (click)="navigateToChat(chat.id)">
          <ion-card-header>
            <ion-row>
              <ion-col size="3" class="image-container">
                <ng-container *ngFor="let img of chat.foto; let i = index">
                  <ion-img [src]="img" class="profile-img" [style.margin-top.px]="i * 10"></ion-img>
                </ng-container>
              </ion-col>
              <ion-col size="9" style="position: relative;">
                <ion-title style="font-size: 14pt; padding-bottom: 5px;">
                  <b [innerHTML]="chat.highlightedName || chat.nombre"></b>
                </ion-title>
                <ion-text style="font-size: 12pt;">{{ chat.ultimoMensaje }}</ion-text>
                <ion-text style="font-size: 10pt; color: #8c8c8c; position: absolute; bottom: 0; right: 0;">
                  {{ chat.fechaUltimoMensaje }}
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Enter your name"
            labelPlacement="stacked"
            type="text"
            placeholder="Your name"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
