
ion-content {
  font-color: #5D1D38;
  --background: #96305A; /* Color de fondo */
}


ion-toolbar {
  --background: #520D3A; /* Color de barra superior */
  --color: #F5F5DC; /* Color del texto */
  --border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
}

ion-title {
  color: #F5F5DC; /* Color del texto */
  font-size: 24pt; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
}

ion-buttons {
  --color: #F5F5DC; /* Color de los botones */
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure absolute positioning of images works within this container */
  width: auto; /* Use auto width to adjust based on content */
  height: 70px; /* Set the height to match the image height */
}

.profile-img {
  border-radius: 50%; /* Round the image */
  width: 50px;
  height: 50px;
  margin-left: -40px; /* Add negative margin to overlap images */
  overflow: hidden; /* Ensure content outside the border-radius is hidden */
  object-fit: cover; /* Ensure the image covers the entire area */
  object-position: center; /* Center the image */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure absolute positioning of images works within this container */
  width: auto; /* Use auto width to adjust based on content */
  height: 70px; /* Set the height to match the image height */
}
ion-card {
  margin: 0;
}

input {
  --background: #FFFFFF;
  border-radius: 8px;
  padding: 5px;
}
.search-bar {
  --background: #FFFFFF;
  border-radius: 8px;
  padding: 5px;
}

ion-card {
  border-radius: 12px;
  background: #5D1D38;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

ion-avatar {
  border: 2px solid #F5F5DC;
}
ion-icon {
  width: 32px; /* Ajusta el tamaño según tus necesidades */
  height: 32px; /* Ajusta el tamaño según tus necesidades */
}


ion-searchbar {
  --background: #f1ead0;
  --color: #96305A;
  --border-radius: 30px;
}

ion-text {
  color: #F5F5DC;
}
::part(native){
  display: flex;
  justify-content: center;
  width: 50px;
}

ion-button::part(native) {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-button::part(native) .button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-icon{
  color: #F5F5DC;
}

