/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
  --ion-color-primary: #7C274B;
  --ion-color-secondary: #5D1D38;
  --ion-color-tertiary: #f1ead0;

  --color1: #7C274B;
  --color2: #5D1D38;
  --color3: #f1ead0;
  --color4: #e5dab5;
  --color5: #2c4251;
}


/* Parte de Responsive */
.responsiveDiv
{
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 600px)
{
  .responsiveDiv
  {
    // height: 90%;
    margin: 10% 0 10% 0;
    // minimi altura sea el doble del ancho
    // min-height: calc(3 * 100%);
  }
}
.responsiveHeader
{
  max-width: 600px;
  margin: 0 auto;
}
/* FIN Responsive */


/* CSS especializado para label*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.labelChico, .labelMeiano, .labelGrande
{
  font-family: "Inter", sans-serif !important;
  color: var(--ion-color-tertiary);
}

.labelChico
{
  font-size: 0.7em;
  font-weight: normal !important;
}
.labelMeiano
{
  font-size: 1em;
  font-weight: normal !important;
}
.labelGrande
{
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.2em 0 0.2em 0;
}

.centrarLabel
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
/* Fin de label */



/* CSS de Ima0 */
.ima0_chica, .ima0_grande
{
  border-radius: 50% !important;
  box-shadow: 0 6px 18px 0 rgba(0,0,0,0.8);
  border: 2px solid var(--ion-color-tertiary);

  /*
  display: block;
  margin-left: auto;
  margin-right: auto;
  */
}

.ima0_grande
{
  width: 64vw;
  max-width: 300px;
  min-width: 90px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ima0_chica
{
  width: 18vw;
  max-width: 65px;
  min-width: 40px;

  margin-right: 15px
}
/* Fin de Ima0 */


/* Boton beis */
.btn_beige
{
  --background: var(--color4) !important;
  --color: var(--color5) !important;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  --border-radius: 1em;
}
/* Fin Boton */


/* CSS de los Campos */
.campos
{
  width: 100%;
  margin: 5px 10px 1rem 10px;
  padding: 5px;
}
.campos > ion-label
{
  font-family: "Inter", sans-serif !important;
  color: var(--ion-color-tertiary);

  font-size: 1em;
  font-weight: normal !important;

  display: flex;
  align-self: flex-start;
  width: 100%;

  margin-left: 20px;
}
.campos > ion-item
{
  --background: var(--ion-color-secondary);
  --border-radius: 1em;
  --placeholder-color: var(--ion-color-tertiary);
  margin-top: 4px !important;
  width: 100%;

  // san copilot, ya no mas desplazamientos.
  -moz-appearance: none;
}
.campos > ion-item > ion-input
{
  color: var(--ion-color-tertiary);
  font-family: "Inter", sans-serif !important;
  font-size: 1em;
  font-weight: normal !important;
}
/* Fin Campos */
