<ion-content class="login-page">
  <div class="login-container">
    <h1 class="title">Santuario</h1>

    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-item class="input-field">
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-label position="floating">Contraseña</ion-label>
    <ion-item class="input-field">
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="login-button" >Entrar</ion-button>

    <ion-text class="register-link">
      <a>Aún no tengo cuenta</a>
    </ion-text>
  </div>
</ion-content>
