<ion-content class="login-page">
  <div class="login-container responsiveDiv">
    <img src="assets/logo_beige.png" alt="Logo" class="logo">
    <h1 class="titulo">Santuario</h1>

    <div class="campos">
      <ion-label>Nombre de usuario</ion-label>
      <ion-item>
        <ion-input id="usuario" type="text"
                   [(ngModel)]="UsuarioLoggeado.username"
        ></ion-input>
      </ion-item>
    </div>

    <div class="campos">
      <ion-label>Contraseña</ion-label>
      <ion-item>
        <ion-input id="contrasena" type="password"
                   [(ngModel)]="UsuarioLoggeado.password"
        ></ion-input>
      </ion-item>
    </div>


    <ion-button class="login-button" expand="block"  (click)="login()">Entrar</ion-button>

    <ion-text class="register-link">
      <a [routerLink]="'/registrocuenta'">Aún no tengo cuenta</a>
    </ion-text>
  </div>
</ion-content>
